<li class="book__entry">
  <aside class="book__images">
    <img src=<%= book.image || "https://placekitten.com/g/120/120" %> class="book__thumbnail">
  </aside>
  <section class="book__attributes">
    <h4 class="book__title book__more-info"><%= book.title %></h4>
    <p class="book__creator"><%= book.creator %></p>
    <blockquote class="book__description"><%= book.description %></blockquote>
  </section>
  <div class="book__hold-info">
  <% if (book.on_loan){ %>
    <em class="book__due-on">Due <%= book.on_loan.due_on %></em>
  <% } %> 
    <button class="<%= buttonIsDisabled(thisModel) || 'book__hold' %>"><%= buttonValue(thisModel) %></button>
  </div>
  <em class="book__more-info">More Info</em>
</li>