<section class="full__column book-details__main">
  <header class="main__nav">
  </header>
  <header class="page__header book-details__header">
    <div class="bd__header--image">
      <img src=<%= resource.image || "https://placekitten.com/g/120/120" %> class="book__thumbnail">
    </div>
    <div class="bd__header--content">
      <h1 class="bd-header__title"><%= resource.title %> </h1>
      <h3 class="bd-header__creator"><%= resource.creator %></h3>
      

      <div class="bd-header__metadata">
        <dl>
          <dt>Year</dt>
          <dd><%= resource.year %>&nbsp;</dd>
          <dt>Publisher</dt>
          <dd><%= resource.publisher %>&nbsp;</dd>
          <dt>Format</dt>
          <dd><%= resource.format %>&nbsp;</dd>
          <dt>Language</dt>
          <dd><%= resource.language %>&nbsp;</dd>
        </dl>
      </div>
      <div class="bd-header__metadata">
        <% if (onLoan) { %>
          <em class="bd__current-loan">Currently on loan. Due back <%= onLoan.due_on %></em>
        <% } %> 
        <% if (!onLoan) { %>
          <em class="bd__current-loan">Available to borrow.</em>
        <% } %>
        <button class="<%= buttonClass(thisResource, isSignedIn) %>"><%= buttonValue(thisResource) %></button>
      </div>
    </div>
  </header>
  <aside class="book-details__interactions">
    <h4>Previously Read By</h4>

    <% if (readers) { %>
      <p><%= showReaders(resource.patrons) %></p>
    <% } %>

    <% if (!readers) { %>
      <blockquote class="bd-interactions__entice">No readers yet! Be the first to check out <em><%= resource.title %></em> from Beehouse Library.</blockquote>
      <button class="bd-interactions__reserve <%= buttonClass(thisResource, isSignedIn) %>"><%= buttonValue(thisResource) %></button>
    <% } %>
  </aside>
  <div class="book-details__main-col">
    <article class="book-details__description">
      <h5 class="bd__libnotes">Librarian Notes</h5>
      <p><%= resource.description %></p>
    </article>

    <hr>

    <article class="book-details__reviews">
      <header class="bd-reviews__add-review">
        <h5 class="bd__libnotes">Reviews By Readers</h5>
        <button class="add-review__toggle button-secondary">Add your Review</button>
      </header>



      <ul class="reviews">
      </ul>
    </article>
  </div>
</section>