<!DOCTYPE html>
<html>
<head>
  <title>BeeHouse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", 'application' %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
</head>
<body>

<%= yield %>

<script>

window.BeeHouseImages = {
	mainLogo: '<%= image_path("beehouse-main-logo.svg") %>',
	pgLogo: '<%= image_path("beehouse-pg-logo.svg") %>'
};
</script>
</body>
</html>
